@use '../../styles/utils/constants.scss' as *;

.popup-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &__label {
        display: flex;
        flex-direction: column;
        margin: 0 0 17px;
        max-width: 100vw;
        padding: 0;
    }

    &__span {
        color: $gray_color_type_4;
        font-size: 9px;
        font-weight: 500;
        line-height: 9px;
        margin: 0 0 8px;
        padding: 0;
        text-align: left;
    }

    &__error {
        color: $red_color_type_2;
        display: none;
        font-size: 9px;
        line-height: 9px;
        margin: 7px 0 0;

        &_type_active {
            display: block;
        }
    }

    &__input {
        border: none;
        border-bottom: 1px solid $blue_color_type_1;
        color: $gray_color_type_3;
        font-family: inherit;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        margin: 0;
        padding: 0 0 7px; 
        text-align: left;
    
        &:focus {
            border: none;
            outline: $blue_color_type_1 solid 2px;
        }
    }

    &__submit-button {
        background-color: $blue_color_type_1;
        border: none;
        border-radius: 8px;
        color: $white_color;
        font-size: 13px;
        height: 37px;
        line-height: 13px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 280px;

        &:hover {
            @include hover_element;
        }

        &_state_disabled {
            background-color: rgb(211 211 211 / 60%);
            cursor: not-allowed;
        }
    }
}
