@use './utils/constants.scss' as *;

#app {
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}
.title {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    text-decoration: none;
    color: $blue_color_type_1;
    margin: 0;
    padding: 0;
}

.profile__link {
    outline: none;
  text-decoration: none;
  background: url("../../../image/profile__avatar-button-image.svg") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}
