@use '../../styles/utils/constants.scss' as *;

.submit-button {
    border: none;
    border-radius: 8px;
    color: $white_color;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    background-color: $blue_color_type_1;
    width: 280px;
    height: 37px;
    margin: 0;
    padding: 0;
    &:hover {
        @include hover_element;
    }
    &_type_change-data {
        margin: 60px auto 0;
    }
    &_type_change-password {
        margin: 162px auto 0;
    }
}
