@use '../../styles/utils/constants.scss' as *;

@mixin hover-avatar {
    opacity: 0.5;
    cursor: pointer; 
    background-color: $black_color;
}


.content_type_profile {
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.back-button-container {
    display: flex;
    align-items: center;
    width: 64px;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $white_color;
    border-right: 1px solid $gray_color_type_2;
}
.back-button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: $blue_color_type_1;
    padding: 0;
    margin: 0;
    border: none;
    background-image: url("../../../image/back-button-image.svg");
    background-position: center;
    &:hover {
        @include hover_element; 
    }
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 60px auto 0px;
    max-width: 95%;
    max-height: 100vh;
    padding:0;

    &__name {
        margin: 0 auto 60px;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;

        &_type_change {
            color: $white_color;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        margin: 52px 0 0;
        padding: 0;
        max-width: 100%;
        &_display_none {
            display: none;
        }
    }
    &__footer-button {
        border: none;
        border-bottom: 1px solid $gray_color_type_2;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
        background-color: $white_color;
        color: $blue_color_type_1;
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;

        &:hover {
            @include hover_element; 
        }

        &:last-of-type {
            color: $red_color_type_1;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
