@use './constants.scss' as *;
@import url('../../../vendor/normalize.scss');
@import url('../../../vendor/fonts/fonts.scss');


.body {
    font-family: 'Inter', Helvetica, sans-serif;
}

.content {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    background-color: $white_color;
    font-family: 'Inter'; 
    text-align: center;
}

