@use './utils/constants.scss' as *;
// @import url('../../components/SubmitButton/SubmitButton.scss');
@import url('../styles/common-styles.scss');
// @import url('../styles/page-error.scss');
// @import url('../../components/ErrorDescription/ErrorDescription.scss');
// @import url("../../components/Form/Form.scss");

// .navigation__list {
//     list-style-type: none;
//     display: flex;
//     flex-direction: column;
//     align-items: space-between;
//     max-width: fit-content;
// }
// .navigation__item {
//     margin-bottom: 20px;
//     padding: 0;
// }
// .navigation__link {
//     font-family: 'Inter', Helvetica, sans-serif;
//     font-size: 20px;
//     line-height: 20px;
//     font-weight: 500;
//     text-decoration: none;
//     color: $blue_color_type_1;

//     &:hover {
//         @include hover_element;
//     }
// }

.form {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 30px 30px 30px;
    background-color: $white_color;
    border-radius: 12px;
    font-family: 'Inter'; 
    max-height: fit-content;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.14));
    &__title {
        color: $gray_color_type_3;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 40px;
        font-weight: 400;
    }
    &__link {
        color: $blue_color_type_1;
        text-align: center;
        font-size: 11px;
        line-height: 11px;
        margin: 14px auto 0px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            @include hover_element
        }
    }
    &__label {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        margin: 0 0 16px;
        padding: 0;
    
        &_type_login {
            &:last-of-type {
                margin-bottom: 127px;
            }
        }
        &_type_register {
            &:last-of-type {
                margin-bottom: 47px;
            }
        }
    }
    &__span {
        margin: 0 0 8px;
        padding: 0;
        text-align: left;
        font-size: 9px;
        line-height: 9px;
        font-weight: 500;
        color: $gray_color_type_4;
    }
    &__error {
        margin: 7px 0 0;
        font-size: 9px;
        line-height: 9px;
        color: $red_color_type_2;
        display: none;

        &-active {
            display: block;
        }
    }
    &__input {
        font-family: inherit; 
        text-align: left;
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;
        color: $gray_color_type_3;
        margin: 0;
        padding: 0 0 7px;
        border: none;
        border-bottom: 1px solid $blue_color_type_1;
    
        &:focus {
            outline-color: $blue_color_type_1;
            outline-style: solid;
            outline-width: 2px;
            border: none;
        }
        &-error {
            border: 1px solid #FF8630;
            background-color: rgb(255 134 48 / 0.1);
        }
    }
}
.button {
    border: none;
    border-radius: 8px;
    color: $white_color;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    background-color: $blue_color_type_1;
    width: 280px;
    height: 37px;
    margin: 0;
    padding: 0;
    // &:hover {
    //     @include hover_element;
    // }
    &_type_inactive {
        cursor: not-allowed;
        background-color: rgb(211 211 211 / 0.6);
    }
}
