@use './utils/constants.scss' as *;

.navigation__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    max-width: fit-content;
}
.navigation__item {
    margin-bottom: 20px;
    padding: 0;
}
.navigation__link {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: $blue_color_type_1;

    &:hover {
        @include hover_element;
    }
}
