@import url('./common-styles.scss');
@import url('../../components/Form/Form.scss');

.content_type_signin {
    padding: 130px 0px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
