@import url('./common-styles.scss');
@import url('../../components/ErrorDescription/ErrorDescription.scss');

.content_type_error {
    padding: 280px 0px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
